.patient-form {
    background-color: rgba(77, 184, 255, 0.7);  /* Dark blue color with 70% opacity */
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    max-width: 400px;
    margin: 30px auto; /* Center the form horizontally and add margin on top */
    padding: 20px;
    margin-left: 300px;
    border-radius: 15px; /* Add some border radius for rounded corners */
    color: #fff; /* Set text color to white for better contrast */
  }
  .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-border-color: #1a642a;
    --bs-btn-hover-color: #e5e3db;
    --bs-btn-hover-bg: #3071d0;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #5eca13;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
  }

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.flabel {
    font-weight: bold;
    margin-bottom: 5px;
    color:#260593;
    font-weight: bold;
    font-size: 15px;

}

.input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
