.add-doctor-form {
    width: 80%;
    max-width: 500px;
    margin-top: 60px;
    margin-left: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .add-doctor-form h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
  }
  
  .add-doctor-form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .add-doctor-form input[type="text"],
  .add-doctor-form textarea,.add-doctor-form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .add-doctor-form .remove-time-slot,
  .add-doctor-form .add-time-slot,
  .add-doctor-form .add-doctor-button {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
  }
  
  .add-doctor-form .remove-time-slot {
    background-color: #dc3545;
  }
  
  .add-doctor-form .remove-time-slot:hover,
  .add-doctor-form .add-time-slot:hover,
  .add-doctor-form .add-doctor-button:hover {
    background-color: #0056b3;
  }
  