.home-heading1 {
    margin-top: 300px;
    color: #260593;
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    margin-left: 800px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .home-content1 {
    padding: 50px;
    text-align: center;
    color: #333;
    font-weight :bold;
    margin-top:50px;
 
  }